.vscode/
*data/
deep_learning/__pycache__/
poetry.lock
data_test/
data_test_labels/
deep_learning/train copy.py
helper/predict.py
logs/fit/
logs/mt/
models/
nohup.out
*training-runs/
*.cache
*generatedImages/
simple_test/
simple_test_labels/
**__pycache__*
*Meilenstein3/generatedLabels*
*Meilenstein3/stylegan3/eval.sh
*Meilenstein3/stylegan3/generatedVideos/